.moviescardlist {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 30px 24px;
    margin: 75px 0 30px 0;
}

@media screen and (max-width: 768px) {
    .moviescardlist {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 36px 30px;
    }
}

@media screen and (max-width: 400px) {
    .moviescardlist {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        gap: 16px;
    }
}
