.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__title {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 29.05px;
    font-weight: 500;
    padding: 0;
    margin: 74px 0 123px 0;
}

.profile__lable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 410px;
    padding: 17px 0 16px 0;
    border-bottom: 1px solid #424242;
}

.profile__lable:last-child {
    border-bottom: none;
}

.profile__text {
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    font-size: 11px;
    line-height: 13.31px;
    font-weight: 500;
    text-align: left;
}

.profile__text_error {
    color: #EE3465;
    margin-top: 10px;
    padding: 0;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    width: 100%;
}

.profile__text_error_disabled {
    display: none;
}

.profile__input {
    border: none;
    background-color: #202020;
    font-size: 11px;
    line-height: 13.31px;
    font-weight: 400;
    text-align: right;
    color: #FFFFFF;
}

.profile__input:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #3DDC84;
    box-shadow: none;
}

.profile__input::-webkit-input-placeholder {
    color: #FFFFFF;
}

.profile__input:-moz-placeholder {
    color: #FFFFFF;
}

.profile__edit-button {
    margin: 204px 0 16px 0;
    border: none;
    background-color: #202020;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 15.73px;
    font-weight: 400;
    align-self: center;
}

.profile__edit-button_novalidate {
    color: #8B8B8B;
}

.profile__edit-button:hover {
    cursor: pointer;
    font-weight: 500;
}

.profile__exit-link {
    margin: 0 0 200px 0;
    border: none;
    background-color: #202020;
    color: #EE3465;
    font-size: 13px;
    line-height: 15.73px;
    font-weight: 500;
    text-decoration: none;
}

.profile__exit-link:hover {
    text-decoration: underline;
    font-weight: 520;
    opacity: 60%;
    transition: opacity linear 2s;
}

@media screen and (max-width: 500px) {
    .profile__lable {
        width: 260px;
    }
}
