.aboutproject {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 110px 0 0 0;
    width: calc(100% - 2*70px);
}

.aboutproject__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 26px 40px;
    margin-top: 70px;
    grid-auto-flow: column;
}

.aboutproject__text-title {
    font-size: 20px;
    line-height: 24.2px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
}

.aboutproject__text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.aboutproject__time-table {
    width: 100%;
    margin: 110px 0 110px 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(2, 1fr);
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
    text-align: center;
}

.aboutproject__backend {
    background-color: #3DDC84;
    padding: 9px 0 9px 0;
}

.aboutproject__frontend {
    background-color: #303030;
    color: #FFFFFF;
    padding: 9px 0 9px 0;
}

.aboutproject__subject {
    color: #8B8B8B;
    font-weight: 500;
    padding: 14px 0 0 0;
}

@media screen and (max-width: 768px) {
    .aboutproject {
        margin-top: 90px;
        width: calc(100% - 2*50px);
    }
    .aboutproject__content {
        gap: 22px 30px;
        margin-top: 70px;
    }
    .aboutproject__text {
        font-size: 12px;
        line-height: 18px;
    }
    .aboutproject__time-table {
        margin-top: 93px;
        margin-bottom: 121px;
    }
}

@media screen and (max-width: 450px) {
    .aboutproject {
        margin-top: 70px;
        width: calc(100% - 2*18px);
    }
    .aboutproject__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 0;
        margin-top: 60px;
        grid-auto-flow: column;
    }
    .aboutproject__text-title {
        font-size: 18px;
        line-height: 21.78px;
        font-weight: 400;
        margin-bottom: 16px;
    }
    .aboutproject__text {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 56px;
    }
    .aboutproject__time-table {
        margin-top: 4px;
        margin-bottom: 70px;
        grid-template-columns: 35% 65%;
        font-size: 11px;
        line-height: 13.5px;
    }
    .aboutproject__subject {
        font-weight: 400;
        padding-top: 10px;
        line-height: 12.74px;
    }
}
