.aboutproject {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 110px 0 0 0;
    width: 100%;
}
.aboutproject__content {
    width: calc(100% - 2*70px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.aboutproject__text-title {
    font-size: 20px;
    line-height: 24.2px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
    padding: 70px 40px 26px 0;
    margin: 0;
}

.aboutproject__text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.aboutproject__time-table {
    width: calc(100% - 2*70px);
    margin: 110px 0 110px 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(2, 1fr);
}

.aboutproject__backend {
    background-color: #3DDC84;
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
    text-align: center;
    padding: 9px 0 9px 0;
}

.aboutproject__frontend {
    background-color: #303030;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
    text-align: center;
    padding: 9px 0 9px 0;
}

.aboutproject__subject {
    color: #8B8B8B;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    text-align: center;
    padding: 14px 0 0 0;
}
